.login-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

mat-card {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
