/* Espaciador flexible */
.spacer {
  flex: 1 1 auto;
}

/* Título dentro de la toolbar */
.toolbar-title {
  font-weight: 600;
  margin-left: 8px;
}

/* Ajustes opcionales al <mat-toolbar> */
.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Mueve el contenido por debajo de la toolbar */
.content {
  margin-top: 80px; /* igual o superior a la altura de la toolbar */
  padding: 0 16px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-chip-list {
  margin-left: 16px;

  mat-chip {
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
